<div class="text-center">
    <br /><h2>Bienvenido @ViewBag.Nombre</h2><br /><br />

    <div class="container ">
        <div class="row justify-content-around align-items-center text-center">
            <div class="col-sm-4">
                <label> Partidos finalizados <br/> Realización de reseñas</label><br /><br />
                <a class="nav-link text-dark " asp-area="" asp-controller="Periodista" asp-action="PartidosFinalizados">
                    <img src="~/css/PartidoFinalizado.jpg" class="rounded float-center" alt="Partidos finalizados" width="250 px" />
                </a>
            </div>
            <div class="col-sm-4 ">
                <label> Visualización de reseñas</label><br /><br /><br />
                <a class="nav-link text-dark" asp-area="" asp-controller="Periodista" asp-action="VisualizacionReseñas"> 
                    <img src="~/css/VisualizacionReseñas.jpg" class="rounded float-center" alt="Visualización de reseñas" width="200 px">
                </a>
            </div>
        </div>
    </div>

</div>
