@model IEnumerable<PrimerObligatorio.Reseña>

<div class="text-center">
    <br /><h2>Reseñas realizadas</h2><br /><br />

    @if(Model.Count() != 0){
    <table class="table">
        <thead>
            <tr>
                <td class="col-3">Título</td>
                <td class="col-2">Selección 1</td>
                <td class="col-2">Selección 2</td>
                <td class="col-7">Contenido</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var resena in Model)
            {
                <tr>
                    <td>@resena.TituloReseña</td>
                    @foreach (var seleccion in resena.Partido.GetSeleccionesPartido())
                    {
                        <td>@seleccion.Pais.NombrePais</td>
                    }
                    <td class="col-7 text-justify">@resena.ContenidoReseña</td>
                </tr>
            }

        </tbody>
    </table>
    } else{
        <p><b>No existen reseñas realizadas</b></p>
    }

</div>
