@model IEnumerable<PrimerObligatorio.Partido>

<div class="text-center">
    <br /><h2>Partidos finalizados</h2><br /><br />

    @if(Model.Count() != 0){

   
    <table class="table">
        <thead>
            <tr>
                <td><b>Fecha de partido</b></td>
                <td> <b>Selección </b></td>
                <td> <b>Selección </b></td>
                <td> <b>Ganador </b></td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var partido in Model)
            {
                <tr>
                    <td>@partido.FechaPartido</td>
                    @foreach (var Seleccion in partido.GetSeleccionesPartido())
                    {
                        <td>@Seleccion.Pais.NombrePais</td>
                    }
                    <!--con esta etiqueta html.raw leo el texto con <br/> para salto de linea-->
                    <td>@partido.ResultadoFinal</td>
                    <!--link para la reseña-->
                    <td>@Html.ActionLink("Realizar reseña","Reseña",new{id=partido.IdPartido})</td>
                </tr>
            }
        </tbody>
    </table>
    } 
    else{
        <p><b>No existen partidos finalizados</b></p>
    }
</div>
